<!-- Footer -->
<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="#" data-toggle="modal" data-target="#aboutModal">A propos</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#" data-toggle="modal" data-target="#contactModal">Contact</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#" data-toggle="modal" data-target="#legalModal">Mentions légales</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; Feeding Good 2020</p>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a href="https://www.instagram.com/feedinggoodfr" target="_blank">
              <i class="fab fa-instagram fa-2x fa-fw"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

{{> contact}}
{{> legal}}
{{> about}}

<script src="../js/vendors.min.js"></script>
<script src="../js/main.min.js"></script>