<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center mx-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="#" data-toggle="modal" data-target="#legalModal">Mentions légales</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; Feed Me 2021</p>
      </div>
    </div>
  </div>
</footer>

{{> legal}}

<script src="../js/vendors.min.js"></script>
<script src="../js/main.min.js"></script>
<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>