<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Feed Me : partage tes recettes !">
  <meta name="author" content="Estelle Picq">
  <meta name="keywords"
    content="Alimentation, Food, Nutrition, Recettes, Ingrédients, Alimentation, Healthy">

  <title>Feed Me</title>
  <link rel="icon" type="image/png" href="../img/logo_draw.png" />
  <!-- Bootstrap core CSS -->
  <link href="../css/vendors.css" rel="stylesheet">
  <!-- Custom fonts  -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
    type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Coming+Soon&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="../css/styles.min.css" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134235779-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-134235779-2');
  </script>

</head>

<body>


  {{> landing}}

  {{{body}}}

  {{> footer}}

</body>

</html>