<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid " src="img/01.png" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Manger sainement, sans prise de tête</h2>
          <p class="text-justify">
            Hello ! Bienvenue sur Feeding Good. Je vous partage ici mes recettes préférées !
            Je me concentre sur la réalisation de recettes saines et économiques,
            afin de montrer qu'il n'est pas nécessaire de se ruiner pour bien manger.
            Régalez-vous bien :) 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="row">
          <img class="col-lg-3 img-fluid" src="img/03.png" alt="">
          <h2 class="col-lg-9 display-4">Les dernières recettes</h2>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="p-5 text-center">
          <div class="row col-xl-9 mx-auto mt-4">
          {{#if success}}
            {{#each recipes}}
              <div class="col-lg-4 col-md-6 mb-4">
                <a class="recipe-card" href="/recipes/{{this._id}}">
                  <div class="recipe-card-header">
                    <h3>{{this.name}}</h3>
                  </div>
                  <div class="recipe-card-image" style="background-image:url('{{this.pictureUrl}}')"></div>
                </a>
              </div>
            {{/each}}
          {{else}}
          Oups, erreur lors de la récupération des recettes.
          {{/if}}
        </div>
        <a type="button" class="btn btn-custom mx-auto" href="/recipes">Toutes les recettes</a>
        </div>
      </div>
    </div>
  </div>
</section>
