@@include('./src/html/structure/modal_header.html', { "section": "about", "sectionTitle": "A propos" })

<div class="modal-body" style="height: 600px; overflow: auto">
  <h5>Pourquoi Feeding Good ?</h5>

  <p>
    Une alimentation saine ne rime pas forcément avec prise de tête. Pas besoin de suivre les dernières tendances "healthy", ni de mesurer 
    au gramme près les aliments que vous consommez.
  </p>
  <p>
    Au contraire, je suis convaincue qu'après avoir intégré les principes de bases d'une alimentation saine, il n'y a plus vraiment besoin
    de s'en préoccuper !
  </p>
  <p>
    Peut-être faites-vous partie des nombreuses personnes souffrant de problèmes de digestion, ou peut-être êtes-vous perdu.e dans la jungle
    d'informations circulant sur le web. Le domaine de la nutrition et la (mé)connaissance du système digestif sont en effet des sujets "mouvants" : 
    on lit une information un jour, puis son exact opposé quelques mois après. Résultat : il est de plus en plus difficile de s'y retrouver, et il n'est 
    pas rare d'entendre "De toute façon, si on suit toutes les recommandations, on ne peut plus rien manger !"
  </p>
  <p>
    Je souhaite aujourd'hui partager sur Feeding Good des conseils et des recettes afin de montrer qu'une alimentation saine peut être variée,
    savoureuse et s'inscrire dans une démarche écologique et de bien-être. Et surtout, que c'est simple, économique et à la portée de tous !
  </p>
  <!-- <p>Vous pouvez également me suivre sur Instagram, où je poste régulièrement des recettes saines, délicieuses et très faciles à réaliser.</p> -->

  <h5>Qui suis-je ?</h5>

  <p>
    Je suis Estelle et je partage ici des recettes et conseils pour adopter une alimentation saine, ou
    tout simplement pour s'inspirer de quelques idées !
  </p>
  <p>
    Ingénieure en Biochimie, je suis passionnée par la science qui se cache derrière l'alimentation. J'espère rendre accessibles à tous les
    principes de base, et montrer qu'il est en fait tout simple de bien se nourrir, sans devoir suivre les dernières modes et autres régimes spéciaux,
    ni se préoccuper des actualités alarmantes sur tel ou tel aliment.
  </p>
  <p>
    Si vous avez des questions, n'hésitez pas à me contacter via le formulaire sur ce site,
    <!-- ou bien sur Instagram, -->
    je serai ravie d'échanger avec vous.
  </p>
</div>

@@include('./src/html/structure/modal_footer.html')