@@include('./src/html/structure/modal_header.html', { "section": "about", "sectionTitle": "A propos" })

<div class="modal-body">
  <h5>Qui suis-je ?</h5>
  <img src="../public/img/avatar.png" class="rounded-circle" alt="avatar" height="100" width="100">

  <p>
    Bonjour à toi et bienvenue sur Feeding Good ! Je suis Estelle et je partage ici des recettes et conseils pour adopter une alimentation saine, ou
    tout simplement pour s'inspirer de quelques idées !
  </p>
  <p>
    Diplômée en Génie Biochimique, je suis passionnée par la science qui se cache derrière l'alimentation. J'espère rendre accessibles à tous les
    principes de base, et montrer qu'il est en fait tout simple de bien se nourrir, sans devoir suivre les dernières modes et autres régimes spéciaux,
    ni se préoccuper des actualités alarmantes sur tel ou tel aliment.
  </p>
  <p>
    Si tu as des questions, n'hésite pas à me contacter via le formulaire sur ce site, ou bien sur Instagram, je serai ravie d'échanger avec toi.
  </p>
</div>

@@include('./src/html/structure/modal_footer.html')