@@include('./src/html/structure/modal_header.html', { "section": "@@section", "sectionTitle": "@@sectionTitle"})

<div class="modal-body">
  <div id="@@sectionSigninFormContainer" class="contact-form-container">
    <form class="flex-container direction-column">
      <div class="form-field">
        <input type="email" name="email" id="@@sectionSigninEmail" required>
        <span class="bar"></span>
        <label for="email">Votre Email*</label>
      </div>
    </form>
    <button type="button" class="btn btn-custom btn-block" id="@@sectionSigninBtn" data-requiredDoc="@@section" disabled>Envoyer</button>
    <div id="@@sectionSigninErrorMessage" class="error-message">Une erreur est survenue, merci de réessayer dans quelques instants.</div>
  </div>
  <div id="@@sectionSigninSuccessMessage" class="success-message">Vous allez recevoir la liste dans votre boîte mail dans quelques instants 👌</div>
</div>

@@include('./src/html/structure/modal_footer.html')