#search {
  .legend {
    margin-top: 20px;
  }

  #noFoodMessage {
    display: none;
  }

  &.filtering {
    #list {
      display: none;
    }
  }
  
  &:not(.filtering) {
    #list {
      display: block;
    }
    .filtered-item {
      display: none !important;
    }
  }
  
  #list {
    .item {
      text-align: left;
      display: flex;
      align-items: center;
    }
    
    .category {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 80%;
      margin: 20px auto;
    }
    
    .category h4 {
      width: 100%;
    }
  }
  
  #filteredList {
    .filtered-item {
      display: none;
      align-items: center;

      &.displayed {
        display: flex;
      }
    }
  }

  .indicator {
    width: 30px;
    height: 15px;
    border-radius: 10px;
    margin-right: 10px;

    &.low {
      background-color: #49d869;
    }
    
    &.high {
      background-color: #dc3545;
    }
  }
}
  