.recipe-card {
  background-color: white;
  height: 300px;
  border-radius: 16px;
  box-shadow: 0 0 5px #ccc;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

  h3 {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
  }

  .recipe-card-header {
    min-height: 80px;
    padding: 10px;
  }

  .recipe-card-image {
    background-size: cover;
    background-position: center;
    flex-grow: 1;
    border-radius: 0 0 16px 16px;
  }
}

.recipe-container {
  margin: 40px auto;
  box-shadow: 0 0 5px #ccc;
  border-radius: 8px;
  padding: 20px;
  color: rgb(76, 76, 76);

  .recipe-header {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    .recipe-image {
      min-width: 200px;
      height: 200px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-bottom: 20px;
    }

    .recipe-name {
      padding-left: 20px;
      width: calc(100% - 200px);
      min-width: 200px;
    }
  }

  .recipe-recap {
    background-color: #fcd7be;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
  }

  .recipe-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .recipe-ingredients {
      width: 33%;
      min-width: 200px;
      padding-top: 20px;
      padding-right: 20px;
      border-right: 1px solid rgb(230, 230, 230);

      .ingredient-item {
        padding-bottom: 20px;
        list-style-type: none;
      }
    }

    .recipe-instructions {
      width: 66%;
      min-width: 200px;
      padding-top: 20px;
      padding-left: 20px;

      .instruction-item {
        padding-bottom: 20px;

        &.instruction-item::marker {
          font-family: 'Coming Soon','Helvetica Neue',Helvetica,Arial,sans-serif;
          font-weight: 900;
          font-size: 1.5rem;
      }
      }
    }
  }

  .recipe-footer {
    padding-top: 20px;
  }
}

.recipe-details-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

@media (max-width: 425px) {
  .recipe-container {
    .recipe-header {
      .recipe-name {
        width: 100%;
        text-align: center;
      }
      .recipe-image {
        margin: 0 auto 20px;
      }
    }
    .list-inline {
      text-align: center;
    }
    .recipe-content {
      .recipe-ingredients,
      .recipe-instructions {
        width: 100%;
        min-width: unset;
      }
    }
  }
}