html {
  scroll-behavior: smooth;
  --main-color: #ff7000;
  --secondary-color: #fb5e00;
  --dark-color: #6c757d;
}

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.lead {
  font-family: 'Coming Soon', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

/* COLORS */

.btn-custom {
  background-color: var(--main-color);
  color: #fff !important;

  &:hover,
  &:active {
    background-color: var(--secondary-color);
    color: #fff !important;
  }

  &:disabled {
    background-color: #aaa;
  }
}

.text-custom {
  color: var(--main-color);
}

a {
  color: var(--main-color) !important;
}

a:hover {
  color: var(--secondary-color) !important;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #fff !important;
  color: var(--secondary-color) !important;
}

.img-border {
  border: 2px solid var(--main-color);
}

/* SECTIONS */

.introduction, .services {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.services {
  a {
    text-decoration: none;
    color: inherit;
    }

  a:hover {
    color: var(--primary);
  }

  .service-heading {
    margin-top: 20px;
  }
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.download {
  padding: 40px;
  margin-top: 3rem;
  cursor: pointer;
}

@media (max-width: 400px) {
  .display-4 {
    font-size: 2rem;
    text-align: center;
  }
}